name: app_notas
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2  # Para almacenamiento local 
  image_picker: ^1.0.4       # Para subir fotos
  sqflite: ^2.3.0            # Para base de datos local 
  path_provider: ^2.1.3      # Para manejar paths de archivos

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
   - assets/images/logo.png #imagen logo
   - assets/images/default_profile.png # Imagen predeterminada
